<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ page.title }} - {{ site.title }}</title>

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family==Source+Code+Pro|Source+Sans+Pro|Source+Serif+Pro&display=swap" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" />

    <link rel="stylesheet" href="/css/monochrome.css" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
</head>

<body>
    <nav>
        <ul>
            <li><a href="https://acid147.github.io/index">About</a></li>
            <li><a href="https://acid147.github.io/projects">Projects</a></li>
            <li>
                <a href="https://github.com/Acid147" class="icon"><i class="zmdi zmdi-github"></i></a>
            </li>
            <li>
                <a href="https://twitter.com/normanrauschen" class="icon"><i class="zmdi zmdi-twitter"></i></a>
            </li>
        </ul>
    </nav>
    <article>
        <h1>{{ page.title }}</h1>
        {{ content }}
    </article>
</body>

</html>
